* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(home.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: auto;
}

.transparent-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #666;
}

.btn {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

/* CSS animation for text */
.text-writer {
    color: rgb(10, 10, 10);
    font: 2em sans-serif;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 6s steps(40, end), blink-caret .2s step-end infinite;
    margin-top: 200px;
}

/* CSS keyframes for text animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

/* CSS keyframes for caret animation */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: none;
    }
}